@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --grain-grey: #d7cec7;
  --blackboard-grey: #565656;
  --oxblood-red: #76323f;
  --tan-beige: #c09f80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.header {
  font-size: 2.4rem;
  font-weight: 800;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.form {
  margin: 2rem 5%;
}

.fieldset {
  margin: 1rem auto;
  padding: 1rem;
  border: 3px solid var(--grain-grey);
}

.user-info label {
  display: block;
  margin: 0.5rem 0;
}
