@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --quartz: #4b4b4f;
  --onyx: #34323f;
  --boy-red: #765850;
  --caput-mortuum: #5e2d2c;
  --garnet: #7a3834;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--quartz);
  color: papayawhip;
}

fieldset {
  border: none;
}

.survey-form__container {
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  margin: 2rem auto;
  border: 1px solid var(--onyx);
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--onyx);
}

.survey-form__header {
  margin: 1rem auto;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.survey-form__description {
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.survey-form__form {
  margin: 0;
}

.survey-form__user-info {
  border: none;
  border-bottom: 5px solid var(--boy-red);
  padding: 2rem 0;
}

.survey-form__label {
  display: block;
  margin: 1rem 0;
}

.survey-form__input {
  width: 100%;
  min-height: 2rem;
  margin: 1rem 0 0 0;
  background-color: papayawhip;
  border: 1px solid papayawhip;
  border-radius: 5px;
  color: var(--onyx);
  padding-left: 0.5rem;
}

.survey-form__input::placeholder {
  font-style: italic;
  opacity: 0.6;
  color: var(--onyx);
}

.survey-form__cuteness-info {
  border: none;
  border-bottom: 5px solid var(--boy-red);
  padding: 2rem 0;
}

.survey-form__textarea {
  margin-top: 1rem;
  width: 100%;
  background-color: papayawhip;
  border-radius: 5px;
  color: var(--onyx);
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.survey-form__textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  opacity: 0.6;
}
