@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --grain-grey: #d7cec7;
  --blackboard-grey: #565656;
  --dark-blackboard-grey: #1a1a1a;
  --oxblood-red: #76323f;
  --tan-beige: #c09f80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

fieldset {
  border: none;
}

.survey-form__container {
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}

.survey-form__header {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.survey-form__description {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.survey-form__form {
  margin: 0;
}

.survey-form__user-info {
  border: none;
  padding: 2rem 0;
}

.survey-form__label {
  display: block;
}
